@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #EEEEEE;
    overflow-y: hidden;
}
.css-1wnsr1i{
    width: 550px !important;
}
.content {
    background-image: url('../public/usuarios.jpg');  /* Corregir la ruta de la imagen */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100vh;
    width: 100vw; 
}